.DevBarTools {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    gap: 10px;

    &--Snapshot {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    &--Outcome {
        color: orangered;
    }

    &-is-success &--Outcome {
        color: limegreen;
    }

    &--diagnostics {
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 5px;
        border-radius: 5px;
        opacity: 0.9;
    }

    &--diagnostics {
        &:global(.active) {
            background-color: lighten(black, 20);
            opacity: 1;
        }

        &:hover {
            background-color: lighten(black, 20);
            opacity: 1;
        }
    }

    &-no-diagnostics &--diagnostics {
        background-color: limegreen;
    }

    .DevBarTools--Actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
        flex: 1;
    }
}
