@mixin TypographyFamilyVariantsItem($family, $option) {
    font-family: var(--type-#{$family}-base-fontFamily);
    font-size: var(--type-#{$family}-#{$option}-fontSize);
    line-height: var(--type-#{$family}-#{$option}-lineHeight);
    font-weight: var(--type-#{$family}-#{$option}-fontWeight);
    letter-spacing: var(--type-#{$family}-#{$option}-letterSpacing);
}

@mixin TypographyFamilyVariants($family, $options) {
    @each $option in $options {
        &#{$option} {
            @include TypographyFamilyVariantsItem($family, $option);
        }
    }
}
