.SystemSection {
    display: flex;
    flex-direction: column;

    &--diagnostics {
        display: flex;
        flex-direction: row;
        gap: 5px;
    }

    &--details {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &--details > div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        margin: 0px;
        padding: 0;
    }

    h4 {
        margin: 0;
    }
}
