.WarningsErrors {
    margin: 0;
    display: flex;
    gap: 5px;
}

.WarningsErrors .WarningsErrors--slash {
    text-decoration: none;
}

.WarningsErrors--warnings,
.WarningsErrors--errors {
    display: flex;
    align-items: center;
    gap: 5px;
}

.WarningsErrors--warnings {
    color: orange;
}
.WarningsErrors--slash {
    color: gray;
}
.WarningsErrors--errors {
    color: orangered;
}
