.Card {
    display: flex;
    gap: 10px;
    min-width: 200px;
    min-height: 100px;
    padding: 10px;
    border-radius: 10px;
    background-color: #111111;
    border: 1px solid #222222;
    cursor: pointer;
}

.Card:hover {
    background-color: black;
    border: 1px solid #111;
    box-shadow: 0px 1px 1px black;
    border: 1px solid #222222;
}
