.DiagnosticsBanner {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.DiagnosticsBanner h3 {
    border-left: 20px solid limegreen;
    height: 20px;
    width: 0;
    overflow: hidden;
}

.DiagnosticsBanner-has-warnings h3 {
    border-left-color: orange;
}

.DiagnosticsBanner-has-errors h3 {
    border-left-color: orangered;
}

.DiagnosticsBanner--details {
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 20px;
}

.DiagnosticsBanner--items {
    display: block;
}
