.DiagnosticsBanner {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;

    & h3 {
        border-left: 20px solid limegreen;
        height: 20px;
        width: 0;
        overflow: hidden;
    }

    &-no-link svg {
        display: none;
    }

    &-has-warnings h3 {
        border-left-color: orange;
    }

    &-has-errors h3 {
        border-left-color: orangered;
    }

    &--details {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    &--counts {
        overflow: hidden;
        display: flex;
        flex-direction: row;
        gap: 5px;
        white-space: nowrap;
        font-size: 20px;
    }

    &--items {
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
    }

    > a {
        white-space: nowrap;
    }
}
