.ComponentRenderer {
    iframe {
        width: 100%;
        min-height: 250px;
        height: 40vh;
        max-height: 500px;
        border: 1px dotted orange;
        border-left: 5px solid orange;
        border-radius: 1px;
    }
}
