.DevBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    min-height: 40px;
    padding: 5px 20px;
    gap: 20px;
    white-space: nowrap;
    color: #ccc;
    background-color: black;
    user-select: none;
}

.DevBar-is-building {
    background-color: #666;
}

.DevBar-has-error {
    color: orangered;
}
