@mixin Surface() {
    color: var(--surface-base-fg);
    background-color: var(--surface-base-bg);
    border-color: var(--surface-base-border-color);
    border-style: var(--surface-base-border-style);
    border-width: var(--surface-base-border-width);
    border-radius: var(--surface-base-border-radius);
    box-shadow: var(--surface-base-box-shadow);

    &[data-is-interactive] {
        color: var(--surface-interactive-fg);
        background-color: var(--surface-interactive-bg);
        border-color: var(--surface-interactive-border-color);
        border-style: var(--surface-interactive-border-style);
        border-width: var(--surface-interactive-border-width);
        border-radius: var(--surface-interactive-border-radius);
        box-shadow: var(--surface-interactive-box-shadow);
    }

    &[data-is-active] {
        color: var(--surface-active-fg);
        background-color: var(--surface-active-bg);
        border-color: var(--surface-active-border-color);
        border-style: var(--surface-active-border-style);
        border-width: var(--surface-active-border-width);
        border-radius: var(--surface-active-border-radius);
        box-shadow: var(--surface-active-box-shadow);
    }

    &[data-is-disabled] {
        color: var(--surface-disabled-fg);
        background-color: var(--surface-disabled-bg);
        border-color: var(--surface-disabled-border-color);
        border-style: var(--surface-disabled-border-style);
        border-width: var(--surface-disabled-border-width);
        border-radius: var(--surface-disabled-border-radius);
        box-shadow: var(--surface-disabled-box-shadow);
    }
}
