.HomeLink {
    color: gold;
    text-decoration: none;
    opacity: 0.9;
    padding: 5px;
    border-radius: 5px;

    &:global(.active) {
        background-color: lighten(black, 20);
        text-decoration: underline;
        opacity: 1;
    }

    &:hover {
        background-color: lighten(black, 20);
        opacity: 1;
    }
}
